<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des contrats</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Liste des contrats archives</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date Debut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for contrat in contrats %}
                <tr>
                    <td>{{ contrat.id }}</td>
                    <td>{{ contrat.Employe.nom }}</td>
                    <td>{{ contrat.Employe.prenom }}</td>
                    <td>{{ contrat.date_deb }}</td>
                    <td>
                        <a href="{% url 'consulter_contrat' contrat.id %}" class="btn btn-success btn-sm">Voir detail</a>   
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Bouton Terminer qui redirige vers la liste des contrats -->
        <a href="{% url 'liste_contrats' %}" class="btn btn-secondary mt-3">Retour</a>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
