<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des evaluations des employés</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Liste des evaluations des employés</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID </th>
                    <th>Nom Employé</th>
                    <th>Prenom Employé</th>
                    <th>Evaluation</th>
                </tr>
            </thead>
            <tbody>
                {% for evaluation in evaluations %}
                <tr>
                    <td>{{ evaluation.id }}</td>
                    <td>{{ evaluation.Employe_Evaluation.nom }}</td>
                    <td>{{ evaluation.Employe_Evaluation.prenom }}</td>
                    <td><a href="{% url 'rapport_evaluation' evaluation.id %}" class="btn btn-success">Rapport Evaluation</a></td>
                    <td><button class="btn btn-danger btn-sm" onclick="confirmDelete({{ evaluation.id }})">Supprimer</button></td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="8">Aucune evaluation trouve.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal de confirmation de suppression -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation de suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cet élément ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <form id="deleteForm" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        function confirmDelete(id) {
            const deleteForm = document.getElementById('deleteForm');
            const actionUrl  = `suppimer_evaluation/${id}/`; // Remplacez par l'URL de votre suppression spécifique
            // Met à jour l'action du formulaire avec l'URL spécifique pour cet employé
            deleteForm.action = actionUrl;

            // Affiche la modale
            new bootstrap.Modal(document.getElementById('confirmDeleteModal')).show();
        }
    </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
